*{
  margin: 0;
  padding: 0;
}
body{
  font-family:'Times New Roman', Times, serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
h1::after{
  content: "";
  position: absolute;
  background-color: #FEC63E;
  height: 0.3rem;
  width: 100px;
  left: 45%;
  right: 45%;
  top: 45px;
}
/*----------------Header----------------*/
header{
  background: url('../img/img.jpg');
  background-size: cover;
  background-position: center;
}
.sombra{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,.5);
}
.header-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}
.header-container img{
  background: #FEC63E;
  border-radius: 50%;
  height: 70px;
  width: 80px;
}
.header-nav ul{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  text-align: center;
  margin-left: 5rem;
}
.header-nav a{
  display: block;
  padding: 10px 20px;
  border: 3px solid #FEC63E;
  color: #FEC63E;
  border-radius: 10px;
  text-transform: uppercase;
  z-index: 5;
  font-weight: bold;
  transition: 1s;
}
.header-nav a:hover{
  transition: 1s;
  background-color: #FEC63E;
  color: #000;
}
.header-introducao{
  max-width: 1200px;
  margin: 0 auto;
  padding: 12rem 0rem;
  color: #fff;
  text-align: center;
}
.header-introducao h1{
  font-size: 4rem;
  line-height: 1;
  margin-top: -100px;
  padding: 0px 30px;
  position: relative;
  margin-bottom: 30px;
}
.header-introducao h1::after{
  top: 80px;
}
.header-introducao p{
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
  padding: 15px 30px;
  font-size: 1.5rem;
}
#btn-mobile{
  display: none;
}
/*----------------Main----------------*/

.main-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #FEC63E;
}
.main-descricao{
  padding: 6rem 30px;
}
.main-descricao h2{
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  margin-bottom: 2.5rem;
}
.main-descricao p{
  margin: 0 auto;
  font-size: 1.5rem;
  max-width: 50rem;
  text-align: center;
  margin-bottom: 20px;
}
.descricao-detalhe{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.descricao-detalhe p{
  position: absolute;
  text-align: start;
  right: 0;
  font-size: 1.4rem;
  color: rgb(116, 114, 114);
}
/*------------container e resultado-----------*/
.container-cal-resul{
  background: #FEC63E;
}
.main-grid{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6rem 30px;
}
.main-grid h2{
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  grid-column: 1/-1;
}
.container-main{
  width: 100%;
  margin: 0 auto;
  background: #FEC63E;
  border-radius: 1rem;
  padding-bottom: 1rem;
}
#form{
  margin: 1rem 0rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
#form label{
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: .25rem;
  width: 100px;
  text-align: right;
  text-transform: uppercase;
  position: relative;
}
#form input,select{
  border: 3px solid transparent;
  border-radius: 0.25rem;
  height: 2rem;
  text-align: center;
}
#form select{
  height: 2.4rem;
}
#form input:hover,select:hover{
  border-color: #000;
}
#form button{
  grid-column: 1/-1;
  background-color: #202124;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  color: #FEC63E;
  padding: .7rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.25rem;
}
#form button:hover{ 
  box-shadow: 0 0 1em #fff;
}
#resultado{
  margin: 1rem 2.5rem;
  box-shadow: 0 0 .5em black;
  border-radius: 0.25rem;
  padding: 1rem 0rem;
  background: #fcd16c;
}
#resultado p{
  padding: 1rem 0.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
#resultado .grid-resultado{
  display: flex;
  justify-content: center;
  align-items: center;
}
.observacoes{
  margin: 1rem 2.5rem;
}
/*----------------Section----------------*/
.section{
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 30px;
}
.significado h2{
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.item-indicadores {
  background-color: #202124;
  color: #ddd;
  margin: 1rem 0;
  padding: 0.5rem 0rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.header-h3 {
  padding: 0.5rem 3rem 0.5rem 1rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.header-h3::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.header-h3.active::after {
  content: "\2212";
}
.container-indicadores {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.p-indicadores{
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, orange, transparent) 1;
}
/*----------------footer----------------*/
.footer{
  background: #FEC63E;
  height: 20rem;
}
/*----------------Responsividade----------------*/
@media (max-width: 850px){
  #resultado .grid-resultado{
    flex-direction: column;
  }
}

@media (max-width: 750px){
  .header-container{
    flex-direction: column;
    gap: 50px;
  }
  
  .header-nav ul{
    margin-left: 0rem;
  }
  .header-introducao h1{
    font-size: 3rem; 
    margin-bottom: 10px;
  }
  .header-introducao p{
    font-size: 1rem;
  }
  .header-introducao h1::after{
    display: none;
  }
  .descricao-detalhe{
    margin-bottom: 50px;
  }
  .main-descricao{
    padding: 3rem 30px;
  }
  .main-grid{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 550px){
  .header-container{
    flex-direction:row;
  }
 #btn-mobile{
  display: block;
}
.header-nav{
  display: none;
}
}

@media (max-width: 400px){
  .header-introducao h1{
    font-size: 2.5rem;
  }
  .display-flex-indicadores{
  margin: 0rem .5rem;
  }
}

@media (max-width: 320px){
.descricao-detalhe p{
    font-size: 1.2rem;
  }  
.main-grid{
  padding: 6rem 10px;
}
}