*{
  margin: 0;
  padding: 0;
}
body{
  font-family:'Times New Roman', Times, serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
/*----------------Header----------------*/
header{
  background: url('../img/img.jpg');
  background-size: cover;
  background-position: center;
}
.sombra{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,.5);
}
.header-container{
  max-width: 75rem;
  margin: 0rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.313rem 1.875rem;
}
.header-container img{
  background: #FEC63E;
  border-radius: 50%;
  height: 3.75rem;
  width: 3.75rem;
  border: 0.188rem solid #fcd16c;
  box-shadow: 0 0.125rem 0.313rem 0 rgba(255, 0, 0, 0.25);
  margin: 0.313rem 0rem;
}
.header-nav ul{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 0.625rem;
  text-align: center;
  margin-left: 5rem;
}
.header-nav a{
  display: block;
  padding: 0.625rem 1.25rem;
  border: 0.188rem solid #FEC63E;
  color: #FEC63E;
  border-radius: 0.625rem;
  text-transform: uppercase;
  z-index: 5;
  font-weight: bold;
  transition: 1s;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.625rem);
  -webkit-backdrop-filter: blur(0.625rem);
}
.header-nav a:hover{
  transition: 1s;
  background-color: #FEC63E;
  color: #000;
}
.header-introducao{
  max-width: 75rem;
  margin: 0rem auto;
  padding: 12rem 0rem;
  color: #fff;
  text-align: center;
}
.header-introducao h1{
  font-size: 4rem;
  line-height: 1;
  margin-top: -6.25rem;
  padding: 0rem 1.875rem;
  position: relative;
  margin-bottom: 1.875rem;
}
.header-introducao b{
  color: #FEC63E;
}
.header-introducao h1::before{
  content: "";
  position: absolute;
  background: #FEC63E;
  height: 0.3rem;
  width: 5rem; /*70*/
  top: 5.625rem;
  left: calc(50% - 2.5rem);
} 
.header-introducao p{
  text-align: center;
  max-width: 50rem;
  margin: 0rem auto;
  padding: 0.938rem 1.875rem;
  font-size: 1.5rem;
}
#btn-mobile{
  display: none;
}
/*----------------Main----------------*/
.main-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #FEC63E;
}
.main-descricao{
  padding: 6rem 1.875rem;
}
.main-descricao h2{
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  margin-bottom: 2.5rem;
}
h2::before{
  content: "";
  position: absolute;
  background: #FEC63E;
  height: 0.3rem;
  width: 4.5rem;
  top: 2.813rem;
  left: calc(50% - 2.25rem);
}
.main-descricao p{
  margin: 0rem auto;
  font-size: 1.5rem;
  max-width: 50rem;
  text-align: center;
  margin-bottom: 1.25rem;
}
.descricao-detalhe{
  max-width: 75rem;
  margin: 0rem auto;
  position: relative;
}
.descricao-detalhe p{
  position: absolute;
  max-width: 14.375rem;
  text-align: start;
  right: 0rem;
  font-size: 1.1rem;
  color: rgb(116, 114, 114);
}
.formula{
  white-space: nowrap;
}
/*------------container e resultado-----------*/
.container-cal-resul{
  background: #FEC63E;
}
.main-grid{
  max-width: 75rem;
  margin: 0rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6rem 1.875rem;
}
.main-grid h2{
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  grid-column: 1/-1;
}
.main-grid h2::before{
  background: #000;
}
.container-main{
  width: 100%;
  margin: 0rem auto;
  background: #FEC63E;
  border-radius: 1rem;
  padding-bottom: 1rem;
}
#form{
  margin: 1rem 0rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
#form label{
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: .25rem;
  width: 6.25rem;
  text-align: right;
  text-transform: uppercase;
  position: relative;
}
#form input,select{
  border: 0.188rem solid transparent;
  border-radius: 0.25rem;
  height: 2rem;
  text-align: center;
}
#form select{
  height: 2.4rem;
}
#form input:hover,select:hover{
  border-color: #000;
}
.buttons{
  grid-column: 1/-1;
}
#form button{
  width: 49.3%;
  background-color: #202124;
  box-shadow: 0 0.125rem 0.313rem 0 rgba(0,0,0,0.25);
  color: #FEC63E;
  padding: .7rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.25rem;
}
#form button:hover{ 
  box-shadow: 0 0 1em #fff;
}
#form #submit{
  color: #fff;
}
#form #clean{
  color: #fff;
  background: #6e1b1b;
}
#resultado{
  margin: 1rem 2.5rem;
  box-shadow: 0 0 .5em black;
  border-radius: 0.25rem;
  padding: 1rem 0rem;
  background: #fcd16c;
}
#resultado p{
  padding: 1rem 0.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
#resultado .grid-resultado{
  display: flex;
  justify-content: center;
  align-items: center;
}
.observacoes{
  margin: 1rem 2.5rem;
}
/*----------------Section----------------*/
.section{
  max-width: 75rem;
  margin: 0rem auto;
  padding: 6rem 1.875rem;
}
.significado h2{
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2.5rem;
  position: relative;
}
.item-indicadores {
  background-color: #202124;
  color: #ddd;
  margin: 1rem 0rem;
  padding: 0.3rem 0rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.313rem 0 rgba(0,0,0,0.25);
}
.header-h3 {
  padding: 0.5rem 3rem 0.5rem 1rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.header-h3::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.header-h3.active::after {
  content: "\2212";
}
.container-indicadores {
  max-height: 0rem;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.p-indicadores{
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 0.063rem solid;
  border-image: linear-gradient(to right, transparent, orange, transparent) 1;
}
/*----------------Section Contato----------------*/
#contato{
  background: #202124;
}
#container-contato{ 
  max-width: 75rem;
  margin: 0rem auto;
  padding: 6rem 1.875rem;
  min-height: 10rem;
}
.container-contato{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}
.container-contato a:hover{
  color: #FEC63E !important;
}
.container-contato h3{
  text-align: center;
  margin-bottom: 1.5rem;
  position: relative;
}
.container-contato h3::after{
  position: absolute;
  content: '';
  background: #FEC63E;
  width: 2.5rem;
  height: 0.2rem;
  top: 1.8rem;
  right: 40%;
}
.container-form-contato a{
  color: #fff;
  text-decoration: underline;
  text-align: left;
}
.container-form-contato a{
  display: inline-block;
  text-align: left;
  padding-bottom: 1rem;
  width: 10rem;
  margin: 0rem auto;
  padding-left: 1.2rem;
  position: relative;
}
.container-form-contato a::after{
  position: absolute;
  content: '';
  height: 0.938rem;
  width: 0.938rem;
  border-radius: 50%;
  left: -0.313rem;
  top: 0.188rem;
  background: url('../img/contato/telefone.svg') no-repeat;
  background-size: cover;
}
.container-form-contato .email::after{
  background: url('../img/contato/email.svg') no-repeat;
  background-size: cover;
}
.redes-sociais{
  color: #fff;
  margin: 1rem auto;
  max-width: 12rem;
  text-align: center;
}
.redes-sociais img{
  border: 0.125rem solid #FEC63E;
  border-radius: 5rem;
  box-shadow: 0 0.125rem 0.938rem 0 rgba(238, 235, 235, 0.25);
  margin: .2rem;
  width: 3rem;
}
.container-form-navegacao{
  max-width: 12rem;
  margin: 1rem auto;
  color: #fff;
}
.navegacao .menu{
  color: #fff !important;
  position: relative;
  z-index: 0;
  overflow: visible;
  background: transparent;
  top: 0rem;
}
.navegacao .menu li{
  margin-bottom: 1rem;
}
.navegacao .menu a{
  padding: 0rem 1.5rem;
  color: #fff;
  background: transparent;
  text-decoration: underline;
  position: relative;
}
.navegacao .menu a::after{
  position: absolute;
  content: '';
  background: #FEC63E; 
  height: 0.438rem;
  width:  0.438rem;
  border-radius: 50%;
  left: 0.313rem;
  top: 0.313rem;
}
.container-form-contato{
  width: 12rem;
  color: #fff;
  margin: 1rem auto;
  text-align: center;
}
/*----------------footer----------------*/
footer{
  background: #17181a;
  color: #fff;
}
footer a{
  color: #fff;
  text-decoration: underline;
}
.footer{ 
  max-width: 75rem;
  margin: 0rem auto;
  padding: 2.5rem 0rem;
  text-align: center;
}
.footer a:hover{
  color: #FEC63E;
}
/*----------------Voltar ao topo button----------------*/
.topo{
  background: rgb(247, 244, 244,.5);
  position: fixed;
  bottom: 1.25rem;
  right: -31.25rem;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s all;
}
.show-button .topo{
  right: 1.25rem;
  transition: .4s all;
}
/*----------------Responsividade----------------*/
@media (max-width: 53.125rem){
  #resultado .grid-resultado{
    flex-direction: column;
  }
}
@media (max-width: 46.875rem){
  .header-container{
    flex-direction: column;
    gap: 3.125rem;
  }
  .header-nav ul{
    margin-left: 0rem;
  }
  .header-introducao h1{
    font-size: 3rem; 
    margin-bottom: 0.625rem;
  }
  .header-introducao h1::before{
    top: 4.375rem;
  }
  .descricao-detalhe{
    margin-bottom: 3.125rem;
  }
  .main-descricao{
    padding: 3rem 1.875rem;
  }
  .main-grid{
    grid-template-columns: 1fr;
  }
  .container-contato{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }
  .grid-redes-sociais{
    grid-column: 1/1;
  }
  h1::before,h2::before,h3::after{
    display: none;
  }
}
@media (max-width: 34.375rem){
  .header-container{
    flex-direction:row;
    background: #FEC63E;
    padding: .2rem 1.875rem;
  }
  .header-introducao h1{
    margin-top: .3rem;
  }
  #btn-mobile{
    display: flex;
    position: relative;
    padding: .5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }
  #hamburger{
    width: 1.25rem;
    border-top: 0.25rem solid;
    display: block;
  }
  #hamburger::after, #hamburger::before{
    content: '';
    width: 1.25rem;
    display: block;
    border-top: 0.125rem solid;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.313rem;
    transition: .3s;
    position: relative;
  }
  .nav.active #hamburger{
    border-top: transparent;
  }
  .nav.active #hamburger::before{
    transform: rotate(135deg);
  }
  .nav.active #hamburger::after{
    transform: rotate(-135deg);
    position: absolute;
    top: 0.438rem;
  }
  .header-nav ul{
    grid-template-columns: 1fr;
    gap: 0.313rem;
  }
  .menu{
    display: block;
    position: absolute;
    width: 100%;
    top: 5rem;
    right: 0rem;
    z-index: -1;
    background: #FEC63E;
    padding-bottom: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .nav.active .menu{
    z-index: 10;
    max-height: 15rem;
  }
  .menu a{
    background: #000;
    border-radius: 1rem;
    transition: .5s;
  }
  .menu a:hover{
    transition: .5s;
    background: rgb(34, 34, 34);
    color: #fff;
  }
  .buttons{
    display: grid;
    gap: .3rem;
    grid-template-columns: 1.1fr 2fr;
  }
  #form button{
    width: 100%;
  }
  .redes-sociais img{
    margin: .5rem;
    width: 3rem;
  }
}
@media (max-width: 25rem){
  .header-introducao h1{
    font-size: 2.5rem;
  }
  .display-flex-indicadores{
  margin: 0rem .5rem;
  }
  .container-contato{
    grid-template-columns: 1fr;
  }
  .redes-sociais{
    margin-top: 8rem;
  }
}
@media (max-width: 20rem){
  .descricao-detalhe p{
    font-size: 1.2rem;
  }  
  .main-grid{
    padding: 6rem 0.625rem;
  }
}